/*.php
/*.txt
/.htaccess*
/readme.html
dup-installer/
wp-admin/
wp-includes/
wp-content/backups-dup-lite/
wp-content/languages/
wp-content/plugins/
wp-content/upgrade/
wp-content/uploads/
wp-content/index.php
wp-content/themes/twentynineteen/
wp-content/themes/twentytwenty/
wp-content/themes/twentytwentyone/
wp-content/themes/index.php
wp-content/themes/frontend-develop/react-src/node_modules/